/**** FAQ page ****/
* { box-sizing: border-box; }

.nav ul li {
  display: inline-block;
  float: right;
  margin: 5px 10px;
}

.nav {
  background-color: #36454f;
  position: fixed;
  width: 100%;
  top: 0;
  padding: 8px 10px;
}

.nav ul li a {
   color: #ffffff;
   text-transform: uppercase;
   letter-spacing: 0.05em;
   -webkit-transition: color 600ms;
}

.nav ul {
   -webkit-margin-before: 0em;
   transition: color 600ms;
}

selector:pseudo-class {
    property: value;
}

.nav a:hover {
    color: #ff0;
    text-decoration: none;
}

.questions {
  margin: 0 auto;
  width: 80%;
  background-color: #c3cb71;
}

body {
  background-color: #c3cb71
}

.panel-default > .panel-heading {
  background-color: #ffdfba;
}

.questions h1 {
  padding-top: 80px;
  padding-bottom: 20px;
  text-align: center;
  font-family: 'Amatic SC';
  font-size: 65px;
  color: #ffffff;
}

.panel-title {
  font-family: Consolas, monaco, monospace;
}

.panel-body {
  font-family: Consolas, monaco, monospace;
}
