body {
  position: relative;
  } /**for scrollspy**/

  .projectName {
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
  }


  .projectName a {
    color: white;
  }

#home img {
  margin-left: 700px;
  margin-top: 235px;
  border: 2px solid black;
}
  #home h3 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 75px;
    text-shadow: 2px 2px 4px black;
  }

  #home p {
    font-size: 23px;
    font-family: 'Fjalla One', sans-serif;
    text-shadow: 1px 1px 2px black;
  }


  #home {
  text-align: center;
  color: white;
  margin: 0 auto;
  /**Parallax**/
  background-image: url("../img/img5.jpg");
  /*Add a background image*/
  background-attachment: fixed;
  /*Give the background a fixed position does it not scroll when you scroll*/
  background-size: cover;
  /*Have the background cover the entire div section*/
  /*Change the color of the text on top so it is readable and adjust the padding as needed.*/
  height: 700px; /**for parallax**/
}

  /*****ABOUT PAGE CSS*****/

  #about {
    font-family: 'Source Sans Pro';
    margin: 0 auto;
    background-color:   #dbdcff;
    padding-bottom: 100px;
  }

  .header1 h1 {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 20px;
    font-size: 80px;
    color: white;
    text-shadow: 1px 1px 2px gray;
    font-family: 'Fjalla One', sans-serif;
  }

  #about h3 {
    font-size: 50px;
    font-weight: bold;
    color: #ecb807;
    text-shadow: 1px 1px 2px gray;
    text-align: center;
  }

  #about p {
    font-size: 20px;
    text-align: center;
  }

  button {
    margin-left: 200px;
    margin-top: 30px;
  }

  /***** WORK PAGE CSS *****/

  #work {
    margin: 80px;
    padding-bottom: 1120px;
    padding-top: 70px;
    text-align: center;
    font-family:Source Sans Pro;
  }

  #work p {
    margin-right: 50px;
    margin-left: 50px;
  }

  .workheader h1{
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
    font-size: 80px;
    color: black;
    padding-bottom: 50px;
  }

  .worksDesc
  {
    font-size: 15px;
    margin: 50px;
    padding-left: 70px;
    padding-right: 70px;
  }
  /***** WORK PAGE CSS (JavaScript)*****/
  .work-img {
    display: block; /* needed to center the element with margin */
    margin: auto; /* center the image inside the column if it's smaller */
    max-width: 400px; /* needs to be set to the width of your image files if they are relatively small */
    position: relative; /* is needed for .info position: absolute to work */
  }

  .info2 {
    position: absolute; /* let's us move the text around and not worry about the image */
    top: 15%; /* position the text 15% away from the top */
  }

  .info2 {
    padding: 10px;
    padding-right: 5px;
    background-color: #ecb807;
    position: absolute;
    top: 30%;
    left: 10%;
    right: 10%;
    color:black;
    text-transform:uppercase;
    font-weight:700;
    letter-spacing:0.5em;
    line-height:1.6;
    display: none;
    text-align: center;
  }

  .proj-title {
    font-weight: 100;
  }

  .arraylinks {
    font-size: 30px;
  }

  .arraylinks2 {
    font-size: 16px;
  }

  #arrayJava {
    padding-bottom: 50px;
  }

  /***** CONTACT PAGE CSS *****/

  #contact {
    font-family: 'Source Sans Pro';

    margin: 0 auto;
    /**Parallax**/
    background-image: url("../img/img5.jpg");
    /*Add a background image*/
    background-attachment: fixed;
    /*Give the background a fixed position does it not scroll when you scroll*/
    background-size: cover;
    /*Have the background cover the entire div section*/
    /*Change the color of the text on top so it is readable and adjust the padding as needed.*/
    height: 340px; /**for parallax**/
  }

  .header {
    text-align: center;
    color: #ffffff;
    padding-top: 70px;
  }

  .header h1 {
    font-family: 'Source Sans Pro';
    font-size: 95px;
    -webkit-margin-after: 0em;
    -webkit-margin-before: 0.5em;
    padding-bottom: 15px;
  }

  .modal-button {
    clear: both;
    padding: 15px;
    padding-right: 500px;
  }

  .info {
    text-align: center;
    padding-top: 250px;
    margin-bottom: 150px;
  }

  .info p {
    font-size: 20px;
    color: black;
  }

  .info h3 {
    font-size: 50px;
    color: #ecb807;
  }

  #resume {
    height: 500px;
    width: 100%;
    padding: 10px;
  }
